node_modules
node_modules/**
dist
dist/**
.git
.git/**
.data
.data/**
*.zip
*.tar
*.tar.gz
*.tgz
*.log
npm-debug.log*
.DS_Store
*.md
.jwt-secret.local
.system_secrets.vault
*.vault
bun.lock
bun.lockb
.vscode
.idea
